@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
  .body {
    width: 104vh;
    height: 100vh;
    background-image: url(../src/assets/bg-pattern-desktop.svg);
    background-position: top;
    background-repeat: no-repeat, no-repeat;
    background-size: 100%;
    /* background-color: #ebe6e6; */
  }
}
@media (min-width: 1560px) {
  .body {
    width: 122vh;
    height: 100vh;
    background-image: url(../src/assets/bg-pattern-desktop.svg);
    background-position: top;
    background-repeat: no-repeat, no-repeat;
    background-size: 100%;
    /* background-color: #ebe6e6; */
  }
}
